a {
	text-decoration:none;
}

a:hover {	
	text-decoration: none!important;
}

ul#nav {
	list-style: none;
	margin-left: 20px;
	text-align: center;
}

ul#nav li, ul#nav li ul li{
	float: left;
	position: relative;
	font-family: arial, helvetica;
}

ul#nav li a {
	display: block;

	text-align: center;
	color: #333;
	border-left: 1px solid #ccc;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

ul#nav li a:hover {
	color: #999;
}

li ul {
	display: none;
	width: 120px;
	font-size: .8em;
}

li:hover ul, li.over ul {
	display: block;
}
